*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #ffd000;
}
body{
	background-color: #ffd00F;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#ffd000; 
}

.center{
	width: 90%;
	background-color: rgb(71, 71, 71);

}
.container
{
	background-color: rgb(71, 71, 71);
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color:#ffd000; 
}
.navbar-brand{
font-size: 30px;	
}